{% if section.settings.image != blank or section.settings.sub_heading != blank or section.settings.heading != blank %}

  {% style %}
    .collection-banner--{{ section.id }} {
      background: {{ section.settings.bg_color }};
    }
  {% endstyle %}
  {{ 'collection-banner.css' | asset_url | stylesheet_tag }}

  <div class="collection-banner-main collection-banner--{{ section.id }}">
    <div class="{% if section.settings.show_full_width %}full-width{% else %}page-width{% endif %}">
      <div class="collection-image-with-content-wrapper">
        {% if section.settings.image != blank %}
          <div class="collection-image-wrapper">
            <img class="collection-image" src="{{ section.settings.image |  image_url: width: 1920 }}">
          </div>
        {% endif %}
        <div class="collection-text-wrapper">
          {% if section.settings.sub_heading != blank or section.settings.heading != blank %}
            <div class="heading-wrapper">
              {% if section.settings.sub_heading != blank %}
                <h3 class="sub-heading">{{ section.settings.sub_heading }}</h3>
              {% endif %}
              {% if section.settings.heading != blank %}
                <h2 class="heading">{{ section.settings.heading }}</h2>
              {% endif %}
            </div>
          {% endif %}
          {{ 'icon-arrow-bottom.svg' | inline_asset_content }}
        </div>
      </div>
      {% if collection.description != blank and section.settings.show_description %}
        <div class="collection-description">
          {{ collection.description }}
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Collection Banner",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_full_width",
      "label": "Show Full Width"
    },
    {
      "type": "color_background",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "sub_heading",
      "label": "Sub Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Sho Description",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Collection Banner"
    }
  ]
}
{% endschema %}
