{% if section.settings.heading != blank or section.blocks.size > 0 %}
  {{ 'image-with-video-slider.css' | asset_url | stylesheet_tag }}
  <div class="image-with-video-slider">
    <div class="full-width">
      <div class="image-with-video-container-main">
        <div class="top-header-main">
          {% if section.blocks.size > 0 %}
            <div class="top-left-main">
              {% if section.settings.heading != blank %}
                <h2 class="heading h1">
                  {{ section.settings.heading }}
                </h2>
              {% endif %}
              {% if section.settings.divider %}
                <span class="divider"></span>
              {% endif %}
              {% if section.blocks.size > 0 %}
                <div class="top-right-images desktop-show">
                  {% for block in section.blocks %}
                    {%- case block.type -%}
                      {%- when 'top-image' -%}
                        {% assign top_image_blocks = section.blocks | where: 'type', 'top-image' %}
                        {% if block.settings.top_image != blank %}
                          <div class="top-right-image-main">
                            <img
                              src="{{ block.settings.top_image |  image_url: width: 5760 }}"
                              alt="{{ block.settings.top_image.alt }}"
                              class="top-image"
                            >
                          </div>
                        {% endif %}
                    {%- endcase -%}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="top-bottom-main h1">
              {{ section.settings.text }}
            </div>
          {% endif %}
          {% if section.blocks.size > 0 %}
            <div class="top-right-images mobile-show">
              {% for block in section.blocks %}
                {%- case block.type -%}
                  {%- when 'top-image' -%}
                    {% assign top_image_blocks = section.blocks | where: 'type', 'top-image' %}
                    {% if block.settings.top_image != blank %}
                      <div class="top-right-image-main">
                        <img
                          src="{{ block.settings.top_image |  image_url: width: 5760 }}"
                          alt="{{ block.settings.top_image.alt }}"
                          class="top-image"
                        >
                      </div>
                    {% endif %}
                {%- endcase -%}
              {% endfor %}
            </div>
          {% endif %}
        </div>
        <div class="video-container-main">
          {% if section.blocks.size > 0 %}
            <div class="main-video-container swiper-container">
              <div class="swiper-wrapper">
                {% for block in section.blocks %}
                  {%- case block.type -%}
                    {%- when 'image-with-video' -%}
                      {% assign video_blocks = section.blocks | where: 'type', 'image-with-video' %}
                      {% if video_blocks.size > 0 %}
                        {% for block in video_blocks %}
                          {% if block.settings.video_url != blank or block.settings.main_image != blank %}
                            <div class="video-info swiper-slide">
                              <div class="video-main">
                                {% if block.settings.text != blank %}
                                  <div class="text">
                                    {{ block.settings.text }}
                                  </div>
                                {% endif %}
                                {% if block.settings.main_image != blank %}
                                  <div class="image-main">
                                    <img
                                      src="{{ block.settings.main_image |  image_url: width: 5760 }}"
                                      alt="{{ block.settings.main_image.alt }}"
                                      class="main-image mobile-hide"
                                    >
                                    {% if block.settings.mobile_image != blank %}
                                      <img
                                        src="{{ block.settings.mobile_image |  image_url: width: 5760 }}"
                                        alt="{{ block.settings.mobile_image.alt }}"
                                        class="main-image desktop-hide"
                                      >
                                    {% else %}
                                      <img
                                        src="{{ block.settings.main_image |  image_url: width: 5760 }}"
                                        alt="{{ block.settings.main_image.alt }}"
                                        class="main-image desktop-hide"
                                      >
                                    {% endif %}
                                  </div>
                                {% else %}
                                  <div class="video-url-main">
                                    <div class="video-url">
                                      {{
                                        block.settings.video_url
                                        | video_tag: image_size: '1100x', muted: false, class: 'image-video'
                                      }}
                                    </div>
                                    <div class="play-btn">
                                      {{ 'icon-play.svg' | inline_asset_content }}
                                    </div>
                                  </div>
                                {% endif %}
                                {% if block.settings.bottom_text != blank %}
                                  <div class="bottom-text-main">
                                    {% if block.settings.bottom_text != blank %}
                                      <div class="bottom-text">
                                        {{ block.settings.bottom_text }}
                                      </div>
                                    {% endif %}
                                    {%- if block.settings.button_link != blank -%}
                                      <a
                                        {% if block.settings.button_link == blank %}
                                          role="link" aria-disabled="true"
                                        {% else %}
                                          href="{{ block.settings.button_link }}"
                                        {% endif %}
                                        class="right-button"
                                      >
                                        <span>
                                          {{ 'icon-button.svg' | inline_asset_content }}
                                        </span>
                                      </a>
                                    {%- endif -%}
                                  </div>
                                {%- endif -%}
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                  {%- endcase -%}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endif %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.main-video-container').forEach(function (container) {
      new Swiper(container, {
        slidesPerView: 1,
        navigation: {
          nextEl: container.querySelector('.video-container-main .swiper-button-next'),
          prevEl: container.querySelector('.video-container-main .swiper-button-prev'),
        },
        pagination: {
          el: '.video-container-main .swiper-pagination',
          clickable: true,
        },
      });
    });

    const videoContainers = document.querySelectorAll('.video-url-main');

    videoContainers.forEach((container) => {
      const video = container.querySelector('video');
      const playButton = container.querySelector('.play-btn');

      playButton.addEventListener('click', function () {
        if (!video.paused) {
          video.pause();
          container.classList.remove('active');
        } else {
          deactivateOtherVideos(container);
          video.play();
          container.classList.add('active');
        }
      });

      video.addEventListener('click', function () {
        if (video.paused) {
          deactivateOtherVideos(container);
          video.play();
          container.classList.add('active');
        } else {
          video.pause();
          container.classList.remove('active');
        }
      });
    });

    function deactivateOtherVideos(currentContainer) {
      document.querySelectorAll('.video-url-main').forEach((otherContainer) => {
        if (otherContainer !== currentContainer) {
          const otherVideo = otherContainer.querySelector('video');
          otherVideo.pause();
          otherContainer.classList.remove('active');
        }
      });
    }
  });
</script>

{% schema %}
{
  "name": "Image with Video Slider",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "Show divider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "Pagination",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "image-with-video",
      "name": "Image with Video",
      "settings": [
        {
          "type": "image_picker",
          "id": "main_image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "video",
          "id": "video_url",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom Text"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button Link"
        }
      ]
    },
    {
      "type": "top-image",
      "name": "Top Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "top_image",
          "label": "Top Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Video Slider",
      "blocks": [
        {
          "type": "image-with-video"
        },
        {
          "type": "image-with-video"
        },
        {
          "type": "image-with-video"
        },
        {
          "type": "image-with-video"
        }
      ]
    }
  ]
}
{% endschema %}
