{% if product.metafields.custom.image_with_text != blank %}
  {{ 'product-info-with-text.css' | asset_url | stylesheet_tag }}
  {% assign productMeta = product.metafields.custom.image_with_text.value %}
  <div class="product-info-with-text product-info-with-text--{{ section.id }}">
    <div class="{% if section.settings.show_full_width %}full-width{% else %}page-width{% endif %}">
      <div class="multiple-image-with-info">
        {% for metaObject in productMeta %}
          <div class="custom-meta-iamge-with-text{% if metaObject.image_right %} image-position-right{% else %} image-position-left{% endif %}">
            {% if metaObject.image != blank %}
            <div class="meta-image-wrapper">
              <img src="{{ metaObject.image |  image_url: width: 940 }}">
            </div>
            {% endif %}
            {% if metaObject.heading != blank or metaObject.text != blank %}
              <div class="meta-content-wrapper">
                {% if metaObject.heading != blank %}
                  <h2 class="heading">{{ metaObject.heading }}</h2>
                {% endif %}
                {% if metaObject.text != blank %}
                  <p class="text">{{ metaObject.text }}</p>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if section.settings.button != blank and section.settings.link != blank %}
        <div class="button-wrapper">
          <span class="divider"></span>
          <a class="button" href="{{ section.settings.link }}">{{ section.settings.button }}</a>
          <span class="divider"></span>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Info With Text",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_full_width",
      "label": "Show Full Width"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Product Info With Text"
    }
  ]
}
{% endschema %}
