{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-related-products.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<div class="related-products">
  <product-recommendations
    class="related-product--{{ section.id }} full-width"
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
  >
    {% if recommendations.performed and recommendations.products_count > 0 %}
      {% if section.settings.heading != blank %}
        <div class="header-wrapper top-header-main">
          <h2 class="related-products__heading heading">
            {{ section.settings.heading | replace: '$divider', '<span class="divider"></span>' }}
          </h2>
        </div>
      {% endif %}
      <div class="related-product-slider">
        <ul
          class="grid-1 swiper-wrapper product-grid"
          role="list"
        >
          {% assign skip_card_product_styles = false %}
          {% for recommendation in recommendations.products %}
            <li class="grid__item swiper-slide">
              {% render 'card-product',
                card_product: recommendation,
                media_aspect_ratio: section.settings.image_ratio,
                image_shape: section.settings.image_shape,
                show_secondary_image: section.settings.show_secondary_image,
                show_vendor: section.settings.show_vendor,
                show_rating: section.settings.show_rating,
                skip_styles: skip_card_product_styles
              %}
            </li>
            {%- assign skip_card_product_styles = true -%}
          {% endfor %}
        </ul>
        <div class="swiper-scrollbar"></div>
      </div>
    {% endif %}
  </product-recommendations>
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const intervalId = window.setInterval(function(){
        if(document.querySelectorAll('.related-product-slider .grid__item').length > 1){
          const swiper = new Swiper('.related-product--{{ section.id }} .related-product-slider', {
            spaceBetween: 20,
            slidesPerView: 1.5,
            loop: false,
            scrollbar: {
              el: ".related-product--{{ section.id }} .swiper-scrollbar",
              draggable: true,
            },
            breakpoints: {
              320: {
                freemode:true,
                slidesPerView: 1.5,
              },
              768: {
                freemode:true,
                slidesPerView: 2.2,
              },
              991: {
                freemode:true,
                slidesPerView: 4.2,
              }
            },
          });
          clearInterval(intervalId);
        }
      }, 1000);

    });
</script>

{% schema %}
{
  "name": "t:sections.related-products.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.related-products.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.related-products.settings.heading.label",
      "info": "Add $divider to add divider"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 10,
      "step": 1,
      "default": 4,
      "label": "t:sections.related-products.settings.products_to_show.label"
    },
    {
      "type": "header",
      "content": "t:sections.related-products.settings.header__2.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.related-products.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.related-products.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.related-products.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.related-products.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.related-products.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.related-products.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.related-products.settings.show_rating.label",
      "info": "t:sections.related-products.settings.show_rating.info"
    }
  ]
}
{% endschema %}
